mixin keywordbox(keyword)
    div 
        input#액션.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='액션') #액션

        input#fantasy.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='fantasy') #판타지

        input#romance.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='romance') #로맨스

        input#modern.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='modern') #현대

        input#middleAges.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='middleAges') #중세

        input#drama.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='drama') #드라마

        input#episodes.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='episodes') #액션

        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션

        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
        
        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
        input#action.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='action') #액션
