mixin keywordbox(hashtags)
    link(rel='stylesheet' href='../public/stylesheets/checkbox.css')
    input#action.inp-cbx(type='checkbox', name='hashtags', value='#액션' )
    
    label.cbx(for='action') 
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #액션

    input#fantasy.inp-cbx(type='checkbox' name='hashtags', value='#판타지' )
    label.cbx(for='fantasy')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #판타지
    
    input#romance.inp-cbx(type='checkbox' name='hashtags', value='#로맨스' )
    label.cbx(for='romance')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #로맨스
    
    input#modern.inp-cbx(type='checkbox' name='hashtags', value='#현대' )
    label.cbx(for='modern')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #현대
    
    input#episodes.inp-cbx(type='checkbox' name='hashtags', value='#에피소드' )
    label.cbx(for='episodes')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #에피소드
    
    input#novel.inp-cbx(type='checkbox' name='hashtags', value='#원작소설' )
    label.cbx(for='novel')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #원작소설
    
    input#family.inp-cbx(type='checkbox' name='hashtags', value='#가족' )
    label.cbx(for='family')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #가족
    
    input#pet.inp-cbx(type='checkbox' name='hashtags', value='#반려동물' )
    label.cbx(for='pet')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #반려동물
    
    input#comic.inp-cbx(type='checkbox' name='hashtags', value='#코믹' )
    label.cbx(for='comic')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #코믹
    
    input#horror.inp-cbx(type='checkbox' name='hashtags', value='#공포' )
    label.cbx(for='horror')
        span
            svg(width='12px',height='10px')
                use(xlink:href='#check')
        span #공포

    svg.inline-svg
        symbol#check(viewbox="0 0 12 10")
            polyline(points="1.5 6 4.5 9 10.5 1")