mixin toon-info(toons)
    .card(style='width: 18rem;')
        ul.list-group.list-group-flush
            li 
                img(src="public/images/naver/n_광장.png", alt="광장이었던것.." width='170px' height='170px')
            li.list-group-item
                each hashtag in toons.hashtags
                    li=hashtag
            li.list-group-item=toons.writer
            li.list-group-item=toons.title