mixin webtoon(webtoon)
    a(href=`/toon/${webtoon.id}`)
        div
            img(src="../"+webtoon.thumbnailUrl width='300' height='300')
            span=webtoon.title
            |  
            small=webtoon.writer
            br
            each hashtag in webtoon.hashtags
                span=hashtag 
                |  