doctype html
html(lang="ko")
    head 
        title WeBank | #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            img(src="../public/images/logo/webank.png" style='max-width: 50%; height: auto;') 
        main
            block content
    include partials/footer.pug