include bootstrapView/bootstrapView.pug

head 
  link(rel="stylesheet", type="text/css" href="../public/stylesheets/login.css")
main.form-signin
      div.centerDiv   
        form(action='/')
          img.mb-4.logocss(src='../public/images/logo/webank.png' alt='webank' width='440' height='200')
          h1.h3.mb-3.fw-normal Please sign in
          .form-floating
            input#floatingInput.form-control(type='email' placeholder='name@example.com')
            label(for='floatingInput') Email address
          .form-floating
            input#floatingPassword.form-control(type='password' placeholder='Password')
            label(for='floatingPassword') Password
          .checkbox.mb-3
            label
              input(type='checkbox' value='remember-me')
              |  Remember me
          button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
          p.mt-5.mb-3.text-muted © 2021-2020

