include bootstrapView/bootstrapView.pug
head 
link(rel="stylesheet", type="text/css" href="../public/stylesheets/main.css")
a(href="/toon/upload") Upload Webtoon

.container
    header.blog-header.py-3
        .row.flex-nowrap.justify-content-between.align-items-center
            .col-4.align-left
                a.blog-header-logo.text-dark(href='/')
                img(src='../public/images/logo/webank.png' alt='webank' width='215' height='85')
            
            .col-4.d-flex.justify-content-end.align-items-center
                a.link-secondary(href='#' aria-label='Search')
                svg.mx-3(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' role='img' viewBox='0 0 24 24')
                    title Search
                    circle(cx='10.5' cy='10.5' r='7.5')
                    path(d='M21 21l-5.2-5.2')
                if loggedIn 
<<<<<<< HEAD
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/logout' style='margin-right:5px') Log Out
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/my-profile') #{loggedInUser.name}'s profile    
=======
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/user/logout' style='margin-right:5px') Log Out
<<<<<<< HEAD
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/user/mypage') My Page   
                else
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/login' style='margin-right:5px') Sign In    
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/join') Sign Up
=======
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/my-profile') #{loggedInUser.name}'s profile    
>>>>>>> e9fec73953fc83732da75646d5fd0bdb2fd8b474
                else
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/login' style='margin-right:5px') Sign in    
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/join') Sign up
>>>>>>> 618f31dff369e10e3be2b6bc42c2bf6a6aabb341
        .nav-scroller.py-1.my-1.my-nav2
            hr.my-1
            nav.nav.d-flex
                a.p-2.link-secondary(href='#') 랭킹
                a.p-2.link-secondary(href='#') 리뷰
                a.p-2.link-secondary(href='#') 추천
                a.p-2.link-secondary(href='#') 웹툰 찾기
                a.p-2.link-secondary(href='#') 커뮤니티
            hr.my-1
        .nav-scroller.py-1.mb-2.my-nav
            nav.nav.d-flex.justify-content-between
                a.p-2.link-secondary(href='#') 전체
                a.p-2.link-secondary(href='#') 로맨스
                a.p-2.link-secondary(href='#') 로판
                a.p-2.link-secondary(href='#') 판타지
                a.p-2.link-secondary(href='#') 현판
                a.p-2.link-secondary(href='#') 무협
                a.p-2.link-secondary(href='#') 미스터리
                a.p-2.link-secondary(href='#') 대체역사
                a.p-2.link-secondary(href='#') 라이트노벨
                a.p-2.link-secondary(href='#') 게임
                a.p-2.link-secondary(href='#') 스포츠
                a.p-2.link-secondary(href='#') SF


main.container
    #carouselExampleControls.carousel.slide(data-bs-ride='carousel' style='margin-bottom:20px')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
            .carousel-item
                img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
            .carousel-item
                img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

    
    .p-1.bg-white.border.rounded-3
        .row
            .col
                p.dev-p 안녕하세요 webank 관리자 운영자H 입니다.
            .col
                p.dev-p2 운영자H
    
    