include bootstrapView/bootstrapView.pug
include mixins/webtoon
head 
link(rel="stylesheet", type="text/css" href="../public/stylesheets/main.css")

.container
    header.blog-header.py-3
        .row.flex-nowrap.justify-content-between.align-items-center
            .col-4.align-left
                a.blog-header-logo.text-dark(href='/')
                    img(src='../public/images/logo/webank.png' alt='webank' width='215' height='85')
            
            .col-4.d-flex.justify-content-end.align-items-center
                a.link-secondary(href='/search' aria-label='Search')
                  svg.mx-3(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' role='img' viewBox='0 0 24 24')
                      title Search
                      circle(cx='10.5' cy='10.5' r='7.5')
                      path(d='M21 21l-5.2-5.2')
                if loggedIn 
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/user/logout' style='margin-right:5px') Log Out
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/user/mypage') mypage    
                else
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/login' style='margin-right:5px') Sign In    
                    a.btn.btn-sm.btn-outline-secondary.static-oj(href='/join') Sign Up

        .nav-scroller.py-1.my-1.my-nav2
            hr.my-1
            nav.nav.d-flex
                a.p-2.link-secondary(href='#') 랭킹
                a.p-2.link-secondary(href='#') 리뷰
                a.p-2.link-secondary(href='#') 추천
                a.p-2.link-secondary(href='#') 웹툰 찾기
                a.p-2.link-secondary(href='#') 커뮤니티
            hr.my-1
        .nav-scroller.py-1.mb-2.my-nav
            nav.nav.d-flex.justify-content-between
                a.p-2.link-secondary(href='#') 전체
                a.p-2.link-secondary(href='#') 로맨스
                a.p-2.link-secondary(href='#') 로판
                a.p-2.link-secondary(href='#') 판타지
                a.p-2.link-secondary(href='#') 현판
                a.p-2.link-secondary(href='#') 무협
                a.p-2.link-secondary(href='#') 미스터리
                a.p-2.link-secondary(href='#') 대체역사
                a.p-2.link-secondary(href='#') 라이트노벨
                a.p-2.link-secondary(href='#') 게임
                a.p-2.link-secondary(href='#') 스포츠
                a.p-2.link-secondary(href='#') SF


main.container
    #carouselExampleControls.carousel.slide(data-bs-ride='carousel' style='margin-bottom:20px')
        .carousel-inner
            .carousel-item.active
                a(href='/eventBanner')
                    img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
            .carousel-item
                a(href='/eventBanner')
                    img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
            .carousel-item
                a(href='/eventBanner')
                    img.d-block.w-100(src='public/images/pages/event_page.png' alt='Event banner')
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

    
    .p-1.bg-white.border.rounded-3(style='margin-bottom: 60px; margin-top: 60px;')
        .row
            .col
                p.dev-p 안녕하세요 webank 관리자 운영자H 입니다.
            .col
                p.dev-p2 운영자H
    div(align='center')
        .container
            h3 최신 TOP 10
                hr
            
            .row.bg-light.border(width='170px' height='170px')
                each webtoon in toons
                    +webtoon(webtoon)

    div(align='center')
        .container
            h3 전체 TOP 10
                hr
            .row.bg-light.border(width='170px' height='170px')
                each webtoon in toons
                    +webtoon(webtoon)
    div(align='center')    
        .container
            h3 인기작
                hr
            .row.bg-light.border(width='170px' height='170px')
                each webtoon in toons
                    +webtoon(webtoon)

div(align='center' style='margin-top:100px')
    .container
        .row 
            h2.align-left 최근 감동 리뷰
            .col.border.coborder.p-4.m-3
                img(src="public/images/fv-icon/파비콘_노랑_빨강.ico", alt="icon" width='32px' height='32px')
                h4 정상수
                pre 
                | 와ㅏㅏㅏ 진짜 재미있다. 호쾌하다,
                | 재미있다, 읽기 편하다. 심지어 이거
                | 소설 원작입니다요. 리뷰어는 
                | 벌써 2번 읽었음.
                p
                h6 전지적 독자 시점, 싱숑
            .col.border.coborder.p-4.m-3
                img(src="public/images/fv-icon/파비콘_노랑_빨강.ico", alt="icon" width='32px' height='32px')
                h4 비와
                pre 
                | 카운팅 스퇄 ~ 봠 하늘에
                | 풔얼~ 배럴 댄 유얼 루이비통
                | 루이비통  예에에~~~
                | 별점 5점 드립니다.
                p
                h6 싸움독학, 박태준
            .col.border.coborder.p-4.m-3
                img(src="public/images/fv-icon/파비콘_노랑_빨강.ico", alt="icon" width='32px' height='32px')
                h4 장웅장
                pre 
                | 후욱 후욱 가슴이 웅장해
                | 진다 가슴이 벌크업 되는 내용이
                | 다. 화장실에서 보기 좋습니다.
                | 이거 ㄹㅇ 강추입니다.
                p
                h6 광장, 오세형
            .col.border.coborder.p-4.m-3
                img(src="public/images/fv-icon/파비콘_노랑_빨강.ico", alt="icon" width='32px' height='32px')
                h4 섭섭이
                pre 
                | 재미있는 웹툰 좋아요 누르고,
                | 갑니다. 쿠키 막구어서 보개되네
                | 요. 정주행 하는 맛이 있습니다.
                | 추천해요.
                p
                h6 신의탑, SIU

.container
      footer.row.row-cols-6.py-5.my-5.border-top
        .col
          a.d-flex.align-items-center.mb-3.link-dark.text-decoration-none(href='/')
            img(src='../public/images/logo/webank.png' alt='webank' width='130' height='60')
          p.text-muted © 2021
        .col
        .col
          h5 장르
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로맨스
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로판
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 판타지
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 현판
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 무협
        .col
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 대체역사
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 라이트노벨
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 게임
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 스포츠
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') SF 
        .col
          h5 기타
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 의견보내기
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 업데이트 현황
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 이용약관
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 개인정보처리방침
        .col
          h5 계정
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로그인
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 회원가입
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 비밀번호 찾기


