extends base.pug

block content
    div 
        nav 
            ul
                if loggedIn
                    li
                        a(href='/user/edit') Edit Profile
                    li
                        a(href='/toon/upload') Toon Upload
