extends base.pug

block content
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    div 
        nav 
            ul
                if loggedIn
                    li
                        a(href='/user/edit') Edit Profile
                    li
                        a(href='/toon/upload') Toon Upload
