extends base
include mixins/webtoon
include mixins/keywordbox


block content
    form.border(method="GET")
        div(style='padding: 30px; margin-bottom: 50px;')
            input(placeholder="Search by title", name="keyword" type="text")
            div
                br
                +keywordbox(hashtags)
            input(type="submit", value="search now")
    div(style='margin-bottom: 100px;') 
        each webtoon in toons
            +webtoon(webtoon)
        
    
    .container
      footer.row.row-cols-6.py-5.my-5.border-top
        .col
          a.d-flex.align-items-center.mb-3.link-dark.text-decoration-none(href='/')
            img(src='../public/images/logo/webank.png' alt='webank' width='130' height='60')
          p.text-muted © 2021
        .col
        .col
          h5 장르
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로맨스
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로판
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 판타지
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 현판
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 무협
        .col
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 대체역사
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 라이트노벨
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 게임
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 스포츠
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') SF 
        .col
          h5 기타
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 의견보내기
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 업데이트 현황
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 이용약관
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 개인정보처리방침
        .col
          h5 계정
          ul.nav.flex-column
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 로그인
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 회원가입
            li.nav-item.mb-2
              a.nav-link.p-0.text-muted(href='#') 비밀번호 찾기