extends base.pug
include mixins/keywordbox

block content
    h1 Edit webtoon's infomation
    form(method="POST", enctype="multipart/form-data") 
        |제목
        input(name="title", value=toon.title, required)

        label(for='thumbnail') 썸네일
        input(id="thumbnail", name='thumbnail', type="file", accept='image/*', required)

        |작가
        input(name="writer", value=toon.writer, required)

        |줄거리
        textarea(id='plot' name="plot", cols="100", rows="30", white-space= "pre-wrap", required)=toon.plot

            

        |링크
        input(name="platform", type="text", value=toon.platform.join(), required)
        input(value="Save", type="submit")