extends base.pug
include mixins/keywordbox

block content 
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        |제목
        input(id="title", name="title", type="text", required)

        label(for='thumbnail') 썸네일
        input(id="thumbnail", name='thumbnail', type="file", accept='image/*', required)

        |작가
        input(id="writer", name="writer", type="text", required)
        small 슬래쉬(/)로 나눠 주세요 

        label(for='plot') 줄거리
        textarea(name="plot", cols="90", rows="30", required) 

        div
            |키워드 
            br
            +keywordbox(hashtags)
            
        div
            |링크
            input(id="platform", name="platform", type="text", required)
        input(type="submit", value="Upload Webtoon")