.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
main {
  display: block;
}
.logocss {
}

.centerDiv {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}
