nav a {
  text-decoration: none;
  color: black;
  align-content: center;
}
.my-nav2 {
  color: white;
}
.my-nav {
  min-width: 700px;
  overflow-x: auto;
}
.static-oj {
  position: static;
}
hr {
  color: black;
  right: ;
}
body {
  background-color: rgb(250, 250, 250);
}
.dev-p {
  padding: 8px;
  margin-bottom: 0;
  margin-left: 10px;
}
.dev-p2 {
  padding: 8px;
  margin-bottom: 0;
  text-align: right;
  margin-right: 10px;
}
.img-stack1 {
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
}
