.toon {
  height: 300px;
  margin-bottom: 30px;
}
.thumb {
  float: left;
  margin-right: 15px;
}

.detail {
  font-size: 15px;
}

.toon__info {
  white-space: pre-wrap;
}

.platform {
}

.edit {
  float: left;
}
